@model CorreoMI.Models.Rol

@{
    ViewBag.Title = "Details";
}
@if (User.Identity.IsAuthenticated)
{
    <h2>Detalles</h2>

    <div>
        <h4>Rol</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Default)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Default)
            </dd>

        </dl>
    </div>
    <p>
        @if (User.IsInRole("CU010"))
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.RolId })
        } |
        @Html.ActionLink("Volver al listado", "Index")
    </p>
}
